# coding: utf-8

"""
    Shutterstock API Explorer

    The Shutterstock API provides access to Shutterstock's library of media, as well as information about customers' accounts and the contributors that provide the media.  # noqa: E501

    OpenAPI spec version: 1.1.3
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class EditorialVideoApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_editorial_video(self, id, country, **kwargs):  # noqa: E501
        """Get editorial video content details  # noqa: E501

        This endpoint shows information about an editorial image, including a URL to a preview image and the sizes that it is available in.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_editorial_video(id, country, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Editorial ID (required)
        :param str country: Returns only if the content is available for distribution in a certain country (required)
        :return: EditorialVideoContent
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_editorial_video_with_http_info(id, country, **kwargs)  # noqa: E501
        else:
            (data) = self.get_editorial_video_with_http_info(id, country, **kwargs)  # noqa: E501
            return data

    def get_editorial_video_with_http_info(self, id, country, **kwargs):  # noqa: E501
        """Get editorial video content details  # noqa: E501

        This endpoint shows information about an editorial image, including a URL to a preview image and the sizes that it is available in.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_editorial_video_with_http_info(id, country, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Editorial ID (required)
        :param str country: Returns only if the content is available for distribution in a certain country (required)
        :return: EditorialVideoContent
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'country']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_editorial_video" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_editorial_video`")  # noqa: E501
        # verify the required parameter 'country' is set
        if ('country' not in params or
                params['country'] is None):
            raise ValueError("Missing the required parameter `country` when calling `get_editorial_video`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'country' in params:
            query_params.append(('country', params['country']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic', 'customer_accessCode']  # noqa: E501

        return self.api_client.call_api(
            '/v2/editorial/videos/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EditorialVideoContent',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_editorial_video_license_list(self, **kwargs):  # noqa: E501
        """List editorial video licenses  # noqa: E501

        This endpoint lists existing editorial video licenses.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_editorial_video_license_list(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str video_id: Show licenses for the specified editorial video ID
        :param str license: Show editorial videos that are available with the specified license name
        :param int page: Page number
        :param int per_page: Number of results per page
        :param str sort: Sort order
        :param str username: Filter licenses by username of licensee
        :param datetime start_date: Show licenses created on or after the specified date
        :param datetime end_date: Show licenses created before the specified date
        :return: DownloadHistoryDataList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_editorial_video_license_list_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_editorial_video_license_list_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_editorial_video_license_list_with_http_info(self, **kwargs):  # noqa: E501
        """List editorial video licenses  # noqa: E501

        This endpoint lists existing editorial video licenses.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_editorial_video_license_list_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str video_id: Show licenses for the specified editorial video ID
        :param str license: Show editorial videos that are available with the specified license name
        :param int page: Page number
        :param int per_page: Number of results per page
        :param str sort: Sort order
        :param str username: Filter licenses by username of licensee
        :param datetime start_date: Show licenses created on or after the specified date
        :param datetime end_date: Show licenses created before the specified date
        :return: DownloadHistoryDataList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['video_id', 'license', 'page', 'per_page', 'sort', 'username', 'start_date', 'end_date']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_editorial_video_license_list" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'video_id' in params:
            query_params.append(('video_id', params['video_id']))  # noqa: E501
        if 'license' in params:
            query_params.append(('license', params['license']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'per_page' in params:
            query_params.append(('per_page', params['per_page']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'username' in params:
            query_params.append(('username', params['username']))  # noqa: E501
        if 'start_date' in params:
            query_params.append(('start_date', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('end_date', params['end_date']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['customer_accessCode']  # noqa: E501

        return self.api_client.call_api(
            '/v2/editorial/videos/licenses', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DownloadHistoryDataList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def license_editorial_video(self, body, **kwargs):  # noqa: E501
        """License editorial video content  # noqa: E501

        This endpoint gets licenses for one or more editorial videos. You must specify the country and one or more editorial videos to license.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.license_editorial_video(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LicenseEditorialVideoContentRequest body: License editorial video content (required)
        :return: LicenseEditorialContentResults
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.license_editorial_video_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.license_editorial_video_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def license_editorial_video_with_http_info(self, body, **kwargs):  # noqa: E501
        """License editorial video content  # noqa: E501

        This endpoint gets licenses for one or more editorial videos. You must specify the country and one or more editorial videos to license.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.license_editorial_video_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LicenseEditorialVideoContentRequest body: License editorial video content (required)
        :return: LicenseEditorialContentResults
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method license_editorial_video" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `license_editorial_video`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['customer_accessCode']  # noqa: E501

        return self.api_client.call_api(
            '/v2/editorial/videos/licenses', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LicenseEditorialContentResults',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_editorial_video_categories(self, **kwargs):  # noqa: E501
        """List editorial video categories  # noqa: E501

        This endpoint lists the categories that editorial videos can belong to, which are separate from the categories that other types of assets can belong to.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_editorial_video_categories(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: EditorialVideoCategoryResults
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_editorial_video_categories_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_editorial_video_categories_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_editorial_video_categories_with_http_info(self, **kwargs):  # noqa: E501
        """List editorial video categories  # noqa: E501

        This endpoint lists the categories that editorial videos can belong to, which are separate from the categories that other types of assets can belong to.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_editorial_video_categories_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: EditorialVideoCategoryResults
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_editorial_video_categories" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic', 'customer_accessCode']  # noqa: E501

        return self.api_client.call_api(
            '/v2/editorial/videos/categories', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EditorialVideoCategoryResults',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def search_editorial_videos(self, country, **kwargs):  # noqa: E501
        """Search editorial video content  # noqa: E501

        This endpoint searches for editorial videos. If you specify more than one search parameter, the API uses an AND condition. Array parameters can be specified multiple times; in this case, the API uses an AND or an OR condition with those values, depending on the parameter. You can also filter search terms out in the `query` parameter by prefixing the term with NOT.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_editorial_videos(country, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str country: Show only editorial video content that is available for distribution in a certain country (required)
        :param str query: One or more search terms separated by spaces
        :param str sort: Sort by
        :param str category: Show editorial video content within a certain editorial category; specify by category name
        :param list[str] supplier_code: Show only editorial video content from certain suppliers
        :param date date_start: Show only editorial video content generated on or after a specific date
        :param date date_end: Show only editorial video content generated on or before a specific date
        :param str resolution: Show only editorial video content with specific resolution
        :param float fps: Show only editorial video content generated with specific frames per second
        :param int per_page: Number of results per page
        :param str cursor: The cursor of the page with which to start fetching results; this cursor is returned from previous requests
        :return: EditorialVideoSearchResults
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_editorial_videos_with_http_info(country, **kwargs)  # noqa: E501
        else:
            (data) = self.search_editorial_videos_with_http_info(country, **kwargs)  # noqa: E501
            return data

    def search_editorial_videos_with_http_info(self, country, **kwargs):  # noqa: E501
        """Search editorial video content  # noqa: E501

        This endpoint searches for editorial videos. If you specify more than one search parameter, the API uses an AND condition. Array parameters can be specified multiple times; in this case, the API uses an AND or an OR condition with those values, depending on the parameter. You can also filter search terms out in the `query` parameter by prefixing the term with NOT.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_editorial_videos_with_http_info(country, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str country: Show only editorial video content that is available for distribution in a certain country (required)
        :param str query: One or more search terms separated by spaces
        :param str sort: Sort by
        :param str category: Show editorial video content within a certain editorial category; specify by category name
        :param list[str] supplier_code: Show only editorial video content from certain suppliers
        :param date date_start: Show only editorial video content generated on or after a specific date
        :param date date_end: Show only editorial video content generated on or before a specific date
        :param str resolution: Show only editorial video content with specific resolution
        :param float fps: Show only editorial video content generated with specific frames per second
        :param int per_page: Number of results per page
        :param str cursor: The cursor of the page with which to start fetching results; this cursor is returned from previous requests
        :return: EditorialVideoSearchResults
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['country', 'query', 'sort', 'category', 'supplier_code', 'date_start', 'date_end', 'resolution', 'fps', 'per_page', 'cursor']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_editorial_videos" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'country' is set
        if ('country' not in params or
                params['country'] is None):
            raise ValueError("Missing the required parameter `country` when calling `search_editorial_videos`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in params:
            query_params.append(('query', params['query']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'category' in params:
            query_params.append(('category', params['category']))  # noqa: E501
        if 'country' in params:
            query_params.append(('country', params['country']))  # noqa: E501
        if 'supplier_code' in params:
            query_params.append(('supplier_code', params['supplier_code']))  # noqa: E501
            collection_formats['supplier_code'] = 'multi'  # noqa: E501
        if 'date_start' in params:
            query_params.append(('date_start', params['date_start']))  # noqa: E501
        if 'date_end' in params:
            query_params.append(('date_end', params['date_end']))  # noqa: E501
        if 'resolution' in params:
            query_params.append(('resolution', params['resolution']))  # noqa: E501
        if 'fps' in params:
            query_params.append(('fps', params['fps']))  # noqa: E501
        if 'per_page' in params:
            query_params.append(('per_page', params['per_page']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic', 'customer_accessCode']  # noqa: E501

        return self.api_client.call_api(
            '/v2/editorial/videos/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EditorialVideoSearchResults',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
